/*.launch
/deployment/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/advancedxpath_v9.12.4_l2.2.1.mpr.bak
/advancedxpath_v9.12.4_l2.2.1.mpr.lock
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
/nativemobile/builds/
